{% extends "base.html" %}

{% block body %}
<h1>Your RSS feed is ready</h1>

<p>Copy this link into your podcast player (only works if it supports custom private RSS feeds).</p>

<p>
  <a href="{{ url }}" id="feed-url">{{ url }}</a>
</p>

<div id="button"></div>

<h2>QR Code</h2>
<p>Scan with your phone to add the feed directly.</p>
<div id="qrcode" style="margin: 1rem 0;"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSE1QMDIzWPHnnv/HakYGWopdB3/oHwxIpRg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const url = "{{ url }}";

  // Copy button
  function copy() {
    navigator.clipboard.writeText(url).then(() => {
      document.getElementById('copy').innerHTML = "Copied!";
      setTimeout(setButtonDiv, 2000);
    });
  }
  function setButtonDiv() {
    document.getElementById("button").innerHTML = "<button id='copy' onclick='copy()'>Copy to clipboard</button>";
  }
  setButtonDiv();

  // QR code
  new QRCode(document.getElementById("qrcode"), {
    text: url,
    width: 200,
    height: 200,
  });
</script>

{% endblock %}
